@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #111112;
  background: #ffffff;
}

.main-container {
	@apply max-w-[1440px] px-[20px] sm:px-[30px] lg:px-[100px] mx-auto;
}

/* locomotive scroll */
html.has-scroll-smooth {
  overflow: hidden; 
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}


.has-scroll-smooth body {
  overflow: hidden; 
}